h1,h2 {
    color: lightcoral;
    background-color: aqua;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;

}
body{
    color: rgb(0, 255, 204);
}
#t4{
    color: goldenrod;
    font-size: 30px;
    font-family: 'Trebuchet MS';
}
.estilo1{
    color: rgb(128, 73, 168);
    font-size: 25px;
    font-style: italic;
}